%h3 Busy Bunnies

%p.right
  <a href="http://developer.anscamobile.com/showcase/" title="My mobile app is in the Corona SDK iOS and Android Showcase"><img src="http://www.anscamobile.com/images/showcase/CoronaBadge_150x144.png" width="150" height="144" alt="Mobile app developed with Corona SDK for iOS and Android" border="0" /></a>

%a{:href=>"http://itunes.apple.com/us/app/busy-bunnies/id432467432"}
  .price
    $1.99

Busy Bunnies is a fun animated story for young children about two little bunnies who have a very busy day. They get up to various activities including bike riding, sailing and more - but they eventually come home for dinner and a bath. After their day is done, you can tuck them into bed - don't forget to turn off the light ! 

%h4 Video

<iframe title="YouTube video player" width="640" height="510" src="http://www.youtube.com/embed/tgIIN02QaHo?rel=0" frameborder="0" allowfullscreen></iframe>

%h4 Screenshots

%img{:src => "/images/busybunnies/screenshot1.png"}
%img{:src => "/images/busybunnies/screenshot2.png"}
%img{:src => "/images/busybunnies/screenshot3.png"}
%img{:src => "/images/busybunnies/screenshot4.png"}
%img{:src => "/images/busybunnies/screenshot5.png"}
