%h3 Word Explorer Vol.1 - Animals

%p.right
  <a href="http://developer.anscamobile.com/showcase/" title="My mobile app is in the Corona SDK iOS and Android Showcase"><img src="http://www.anscamobile.com/images/showcase/CoronaBadge_150x144.png" width="150" height="144" alt="Mobile app developed with Corona SDK for iOS and Android" border="0" /></a>

%a{:href=>"http://itunes.apple.com/us/app/wordexplorer/id422831882"}
  .price
    $0.99

This app was built mainly for 3-5 year olds taking their first steps into the world of spelling. We do this through the use of friendly animals and phonetics. Each animal has its own page with interactive elements - the animal can be tapped and will respond with a roar, ribbet, meow or woof. The word corresponding to the type of the animal can be swiped and the phonemes are pronounced in time with animation of the corresponding letters. The letters themselves are interactive. We've endeavoured to make this app simple and friendly in order to let kids explore at their own pace taking as much from the app as they are capable of and hopefully learning something new in the process.

%h4 Free Trial Version

We've released a limited <a href="http://itunes.apple.com/us/app/word-explorer-free/id425096473" title="free trial version">free trial version</a> you to try before you buy.

%h4 Video

<iframe title="YouTube video player" width="650" height="510" src="http://www.youtube.com/embed/PHZ1rYDu5N8?rel=0" frameborder="0" allowfullscreen></iframe>

%h4 Screenshots

%img{:src => "/images/wordexplorer/screenshot2.jpg"}
%img{:src => "/images/wordexplorer/screenshot3.jpg"}
%img{:src => "/images/wordexplorer/screenshot4.jpg"}
%img{:src => "/images/wordexplorer/screenshot5.jpg"}
